body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(23, 21, 21);

}

.calculator{
    width: 300px;
    aspect-ratio: 9/12;
    background: black;
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    top: 15%;
    box-shadow: 0 0 35px black;
    border-radius: 40px;
}

.calculator > *{
    position: relative;
    font-size: 3em;
    padding: 20px;

}

.calculator .result{
    left: 80%;
    margin-top: 50px;
}

.calculator button{
    border-radius: 50%;
    font-size: 1.5em;
    padding: 0%;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    font-weight: 500;
    border: 0px;
}

.calculator .zero{
    width: 126px;
    border-radius: 75px 75px;
}

.clear, .pos-neg, .percent{
    background: #A5A5A5;
}

.divide, .multiply, .minus, .plus, .equal{
    background: #FF9F0A;
    color: white;
}

.num, .dot, .zero{
    background: #333333;
    color: white;
}

.calculator button:hover{
    background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
    cursor: pointer;
}